.ui.inverted.masthead.segment {
    background: url("../images/slide.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}
.ui.secondary.inverted.pointing.menu {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
}
.ui.secondary.inverted.menu a.item {
    color: rgba(250, 250, 250, 0.7) !important;
}
.ui.secondary.inverted.menu a.item.active {
    color: tomato !important;
    border-color: tomato !important;
}
.black-menu-stripe {
    background: black;
}