.ui.inverted.masthead.segment {
    background: url("../images/slide.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}
.ui.secondary.inverted.pointing.menu {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
}
.ui.secondary.inverted.menu a.item {
    color: rgba(250, 250, 250, 0.7) !important;
}
.ui.secondary.inverted.menu a.item.active {
    color: tomato !important;
    border-color: tomato !important;
}
.black-menu-stripe {
    background: black;
}
#header-wrapper {
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
}
#header-text {
    margin-top: 3.5em;
}
#header-wrapper .inverted.orange.button {
    margin-bottom: 10px;
}
.italic-conversational {
    font-size: 1.4em;
}
b.red {
    color: #DB2828 !important
}
b.orange {
    color: #F2711C !important
}
.canvasjs-chart-credit {
    display: none;
}