---
layout: training-section
---
<div class="ui vertical stripe inverted segment" id="training-section" >
        <h2 class="ui white header center aligned huge">
            {{page.header}}
        </h2>
        <h4 class="ui horizontal divider neon header">
            <i class="student icon"></i>
            Részletek
        </h4>
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    {{content}}
                </div>
                <div class="column">
                    <div id="chartContainer"></div>
                </div>
            </div>
        </div>
    </div>