<div class="ui vertical stripe inverted segment" id="training-section" >
        <h2 class="ui white header center aligned huge">
            Vállalati tanfolyamok, tréningek angol és spanyol nyelven
        </h2>
        <h4 class="ui horizontal divider neon header">
            <i class="student icon"></i>
            Részletek
        </h4>
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3 class="ui light-blue header">Kommunikációs tanfolyamok (Kiscsoportos 2-6 fő)</h3>
                    <h3 class="ui neon-green header">Egyéni, one-on-one tanfolyamok</h3>
                    <p><b class="light-blue">Kiknek ajánlom?</b><br/>Középfok körüli szinttől (B1+) - felsőfokig (C1)</p>
                    <p><b class="light-blue">Milyen hosszú egy tanóra?</b><br/>Egy alkalom 90 percből áll, ami két 45 perces
                        órának felel
                        meg.</p>
                    <p><b class="light-blue">Mire kerül sor a tanfolyamon?</b><br>A tananyagot minden esetben az egyéni igények
                        figyelembe
                        vételével állítom össze.</p>
                </div>
                <div class="column">
                    <div id="chartContainer"></div>
                </div>
            </div>
        </div>
    </div>