<div class="ui vertical stripe segment" id="welcome-section">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column italic-conversational">
                    <h3 class="ui dark-blue header">Hatékony, kiscsoportos angol és spanyol tréningek az Ön cégénél.</h3>
                    <p><i>Üdvözlöm a honlapomon! Kedves Érdeklődő!</i></p>
                    <p><i>
                        Szeretné, ha munkatársai megállnák a helyüket angol nyelven történő tárgyalásokon? Fontos, hogy
                        pontosan és gördülékenyen kommunikáljanak és prezentáljanak? Szükségük van az angolra mindennapi
                        tevékenységük során, hiszen nyelvigényes környezetben dolgoznak? Amennyiben a válasza valamelyik
                        kérdésre igen, kérem, olvasson tovább.
                        <br/>Üdvözlettel,
                        <br/>Veres András</i></p>
                </div>
                <div class="six wide right floated column">
                    <img src="{{ site.baseurl }}/assets/images/andras_veres.jpg" class="ui large bordered rounded image" alt="András Veres">
                </div>
            </div>
        </div>
    </div>