body, html {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100% !important;
  margin: 0 auto;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	width: 100% !important;
}
.navbar {
  display: flex;
  
  height: 200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.navbar a {
  float: right;
  margin: 0 auto; 
  padding-top: 50px;
}
h1 {
  color: #333;
  font-size: 36px;
  font-weight: 600;
	margin: 0 0 20px 0;
}
p {
  color: #333;
	font-size: 15px;
}
a {
	color: #214f7a;
	font-weight: 400;
}
a:hover, a:focus {
  color: #222;
	text-decoration: none;
}