---
layout: training-description
---
<div class="ui vertical stripe segment dark-blue" id="training-description">
        <div class="ui middle aligned stackable grid container">
            <div class=" row">
                <div class="seven wide column">
                    <h4 class="ui white mini-header header">{{page.bulletpoint-one}}</h4>
                    <div class="ui bulleted list white">
                        <div class="item">{{page.bulletpoint-two}}</div>
                        <div class="item">{{page.bulletpoint-three}}</div>
                        <div class="item">{{page.bulletpoint-four}}</div>
                        <div class="item">{{page.bulletpoint-five}}</div>
                        <div class="item">{{page.bulletpoint-six}}</div>
                    </div>
                </div>
                <div class="seven wide right floated column">
                    <h4 class="ui white mini-header header">{{page.bulletpoint-seven}}</h4>
                    <div class="ui bulleted list white">
                        <div class="item">{{page.bulletpoint-eight}}</div>
                        <div class="item">{{page.bulletpoint-nine}}</div>
                        <div class="item">{{page.bulletpoint-ten}}</div>
                        <div class="item">{{page.bulletpoint-eleven}}</div>
                        <div class="item">{{page.bulletpoint-twelve}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>